/* Start remove giant gap on bottom of pages*/
body {
  padding-bottom: 0;
}
.navbar {
  margin-bottom: 0;
}
/*End remove giant gap on bottom of pages*/

/*Make links a little darker in color*/
a {
  color: #159d82;
}

/*Remove rounded borders on bottom navbar*/
.navbar {
  border-radius: 0;
}
