/* Start remove giant gap on bottom of pages*/
body {
  padding-bottom: 0;
}
.navbar {
  margin-bottom: 0;
}
/*End remove giant gap on bottom of pages*/

/*Make links a little darker in color*/
a {
  color: #0c5a4b;
}

/*Remove rounded borders on bottom navbar*/
.navbar {
  border-radius: 0;
}

/*Remove time from date because it is irrelevant for us*/
.feed-date {
  display: inline-block;
  white-space: nowrap;
  max-width: 9ch;
  overflow: hidden;
  vertical-align: bottom;
}
